<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fsun.mapper.SysMenuMapper" >
  <resultMap id="BaseResultMap" type="com.fsun.domain.model.SysMenu" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_man_id" property="updateManId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="isleaf" property="isleaf" jdbcType="BIT" />
    <result column="iconcls" property="iconcls" jdbcType="VARCHAR" />
    <result column="expanded" property="expanded" jdbcType="BIT" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="create_man_id" property="createManId" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, url, icon, create_time, update_man_id, update_time, isleaf, iconcls, 
    expanded, enabled, description, priority, create_man_id, pid
  </sql>
  
  <sql id="conditions">
  	<where> 
  		<if test="q != null and q != ''">
  			and (o.name like '%${q}%' 
  				or o.code like '%${q}%'
  				)
  		</if>
  		<if test="enabled != null">
  			and o.enabled = #{enabled}
  		</if>
  		
  		<if test="id != null and id != ''">
  			and o.id = #{id}
  		</if>
  		
  		<if test="code != null and code != ''">
  			and o.code = #{code}
  		</if>
  		
  		<if test="name!= null and name != ''">
  			and o.name like '%${name}%'
  		</if>
  		
	</where>
  </sql>
  
  <select id="selectList" resultMap="BaseResultMap" 
  	parameterType="com.fsun.domain.condition.SysMenuCondition" >    
	SELECT 
		<include refid="Base_Column_List" />
    FROM sys_menu o
    	<include refid="conditions" />
  </select>
  
  <select id="selectListMap" resultType="java.util.Map" 
  	parameterType="com.fsun.domain.condition.SysMenuCondition" >    
	SELECT 
		o.id as id, 
		o.name as name, 
		o.code as code, 
		o.url as url, 
		o.icon as icon, 
		o.isleaf as isleaf, 
		o.iconcls as iconcls, 
    	o.expanded as expanded, 
		o.enabled as enabled, 
		o.description as description, 
		o.priority as priority, 
    	o.pid as pid
    FROM sys_menu o 
    	<include refid="conditions" />
  </select>
  
  <select id="findMenusByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >    
	SELECT 
		<include refid="Base_Column_List" />   
    FROM sys_menu WHERE id IN (
		SELECT DISTINCT r_role_menu.menu_id 
		FROM r_role_menu r_role_menu
		LEFT JOIN r_role_user r_role_user ON r_role_user.role_id = r_role_menu.role_id 
		LEFT JOIN sys_suer sys_suer ON sys_suer.id = r_role_user.user_id
		WHERE sys_suer.username = #{username, jdbcType=VARCHAR}
	) ORDER BY pid, priority asc
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fsun.domain.model.SysMenu" >
    insert into sys_menu (id, code, name, 
      url, icon, create_time, 
      update_man_id, update_time, isleaf, 
      iconcls, expanded, enabled, 
      description, priority, create_man_id, 
      pid)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateManId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{isleaf,jdbcType=BIT}, 
      #{iconcls,jdbcType=VARCHAR}, #{expanded,jdbcType=BIT}, #{enabled,jdbcType=BIT}, 
      #{description,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{createManId,jdbcType=VARCHAR}, 
      #{pid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fsun.domain.model.SysMenu" >
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateManId != null" >
        update_man_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isleaf != null" >
        isleaf,
      </if>
      <if test="iconcls != null" >
        iconcls,
      </if>
      <if test="expanded != null" >
        expanded,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="createManId != null" >
        create_man_id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateManId != null" >
        #{updateManId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isleaf != null" >
        #{isleaf,jdbcType=BIT},
      </if>
      <if test="iconcls != null" >
        #{iconcls,jdbcType=VARCHAR},
      </if>
      <if test="expanded != null" >
        #{expanded,jdbcType=BIT},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createManId != null" >
        #{createManId,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fsun.domain.model.SysMenu" >
    update sys_menu
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateManId != null" >
        update_man_id = #{updateManId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isleaf != null" >
        isleaf = #{isleaf,jdbcType=BIT},
      </if>
      <if test="iconcls != null" >
        iconcls = #{iconcls,jdbcType=VARCHAR},
      </if>
      <if test="expanded != null" >
        expanded = #{expanded,jdbcType=BIT},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createManId != null" >
        create_man_id = #{createManId,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fsun.domain.model.SysMenu" >
    update sys_menu
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_man_id = #{updateManId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      isleaf = #{isleaf,jdbcType=BIT},
      iconcls = #{iconcls,jdbcType=VARCHAR},
      expanded = #{expanded,jdbcType=BIT},
      enabled = #{enabled,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      create_man_id = #{createManId,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>