<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fsun.mapper.SysPowerMapper" >
  <resultMap id="BaseResultMap" type="com.fsun.domain.model.SysPower" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_man_id" property="createManId" jdbcType="VARCHAR" />
    <result column="update_man_id" property="updateManId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, code, menu_id, enabled, description, url, priority, create_time, create_man_id, 
    update_man_id, update_time
  </sql>
 
  <sql id="conditions">
  	<where> 
  		<if test="q != null and q != ''">
  			and (o.name like '%${q}%' 
  				or o.code like '%${q}%'
  				)
  		</if>
	
  		<if test="enabled != null">
  			and o.enabled = #{enabled}
  		</if>
  		
  		<if test="id != null and id != ''">
  			and o.id = #{id}
  		</if>
  		
  		<if test="code != null and code != ''">
  			and o.code = #{code}
  		</if>
  		
	</where>
  </sql>
  
  <select id="selectList" resultMap="BaseResultMap" 
  	parameterType="com.fsun.domain.condition.SysPowerCondition" >    
	SELECT 
		<include refid="Base_Column_List" />
    FROM sys_power o
    	<include refid="conditions" />
  </select>
  
  <select id="selectListMap" resultType="java.util.Map" 
  	parameterType="com.fsun.domain.condition.SysPowerCondition" >    
	SELECT 
		o.id as id, 
		o.name as name, 
		o.code as code, 
		o.menu_id as menuId, 
		o.enabled as enabled, 
		o.description as description, 
		o.url as url, 
		o.priority as priority,
		o.create_time as createTime,
    	m.name as menuName
    FROM sys_power o 
    LEFT JOIN sys_menu m ON m.id = o.menu_id
    	<include refid="conditions" />
  </select>
  
  <select id="findPermissionsByUsername" resultType="java.lang.String" parameterType="java.lang.String" >    
	SELECT 
		DISTINCT sys_power.`code` as code
	FROM r_role_power r_role_power 
	LEFT JOIN sys_power sys_power ON sys_power.id = r_role_power.power_id
	WHERE r_role_power.role_id IN (	
		SELECT r_role_user.role_id FROM r_role_user r_role_user, sys_user sys_user 
		WHERE r_role_user.user_id = sys_user.id 
		AND sys_user.enabled = 1
		AND sys_user.username = #{username,jdbcType=VARCHAR}
	)
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_power
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_power
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fsun.domain.model.SysPower" >
    insert into sys_power (id, name, code, 
      menu_id, enabled, description, 
      url, priority, create_time, 
      create_man_id, update_man_id, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{menuId,jdbcType=VARCHAR}, #{enabled,jdbcType=BIT}, #{description,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createManId,jdbcType=VARCHAR}, #{updateManId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fsun.domain.model.SysPower" >
    insert into sys_power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createManId != null" >
        create_man_id,
      </if>
      <if test="updateManId != null" >
        update_man_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createManId != null" >
        #{createManId,jdbcType=VARCHAR},
      </if>
      <if test="updateManId != null" >
        #{updateManId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fsun.domain.model.SysPower" >
    update sys_power
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createManId != null" >
        create_man_id = #{createManId,jdbcType=VARCHAR},
      </if>
      <if test="updateManId != null" >
        update_man_id = #{updateManId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fsun.domain.model.SysPower" >
    update sys_power
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_man_id = #{createManId,jdbcType=VARCHAR},
      update_man_id = #{updateManId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>